/* RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* COMMON */
body {
    color: rgba(255, 255, 255, 0.6);
    min-height: 250px;
    font-family: 'Oswald', sans-serif;
    min-width: 500px;
}

#app-wrapper {
    height: 100vh;
    width: 100%;
    min-height: 250px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 10px;
}
  

*::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 20px;
    border: 3px solid #fff;  
}
  
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
  
/* Gutter */
.gutter {
    padding: 0 15px;
}

/* text */
.text-white {
    color: #fff;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Box */
.box {
    width: calc( 100% / 6 );
    padding: 20px 0;
}

.image-box {
    position: relative;
}

/* Layover */
.layover {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/*  Button */
button:focus {
    outline: none;
}

button {
    transition-duration: 0.4s
}

/* Clearfix */
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

/* Display Flex */
.flex {
    display: flex;
}

/* Hover */
a:hover {
    color: rgba(255, 255, 255, 1);
}

/* Nav Hover */
.nav-content .main-links .link-lists li img:hover {
    color: rgba(255, 255, 255, 1);
}

.nav-content .playlist button .add-button:hover {
    background-color: rgba(255, 255, 255, 1);
}


/* Main Content Hover */
.image-box:hover .layover {
    display: flex;
}

.image-box:hover {
    box-shadow:  1px 1px 12px rgba(255, 255, 255,  0.3);
}

/* Footer Hover */
footer .play-buttons button:hover {
    color: rgba(255, 255, 255, 1);
}

footer .play-buttons .button-section .play:hover {
    font-size: 38px;
    color: rgba(255, 255, 255, 1);    
}

footer .settings button:hover {
    color: rgba(255, 255, 255, 1);
}

footer .settings .settings-icon button:hover {
    color: rgba(255, 255, 255, 1);
}

footer .listening .like-and-folder .like:hover{
    color: darkred;   
}

footer .listening .like-and-folder .folder:hover {
    color: #eedaab;   
}

footer .play-buttons .static-bar .progress-bar:hover {
    background-color: limegreen;
}

footer .play-buttons .static-bar .progress-bar:hover:after {
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    display: block;
    border-radius: 50%;
    position: relative;
    top: -4px;
    right: -90px;
}

footer .settings .volume-bar .progress-bar:hover {
    background-color: limegreen;
}
 
footer .settings .volume-bar .progress-bar:hover:after {
    content: "";
    height: 12px;
    width: 12px;
    background-color: white;
    display: block;
    border-radius: 50%;
    position: relative;
    top: -4px;
    right: -78%;
}


/* Focus / Visited / Active */
 footer .listening .like-and-folder .like:focus{
     color: red;   
}
 
footer .settings .settings-icon .volume-icon:focus {
    color: red;   
}

.fixed-button:hover {
    padding: 12px 22px;
    font-size: 15px;
}

/* Padding */
.block-pad {
    padding: 20px 0;
}

.block-pad-around {
    padding: 20px;
}

/* Align */
.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* MAIN */
main {
    height: calc( 100% - 100px );
    width: 100%;
}

/* Nav */
nav {
    float: left;
    width: 220px;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

.nav-content {
    flex-direction: column;
    height: 100%;
}

/* Logo */
.logo-small {
    display: none;
    width: 30px;
}

.logo img {
   width: 150px;
}

/* Main Links */
.nav-content .main-links .link-lists li img {
    width: 30px;
    height: auto;  
    vertical-align: middle;
    padding-bottom: 10px;
}

.link-name {
    font-size: 12px;
}

/* Playlist */
.playlist {
    min-height: 150px;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Button */
.add-button {
    height: 30px;
    width: 30px;
    color: black;
    background-color: #ffffff99;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 5px;
    border: 0;
    cursor: pointer;
}

.playlist button {
    background-color: black;
    border: 0;
}

.playlist button .add-button {
    height: 30px;
    width: 30px;
    color: black;
    background-color: #ffffff99;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    display: inline-block;
    border: 0;
    cursor: pointer;
}

.playlist button span {
    padding: 0 5px;
}

/* Playlist List */
.list-playlist {
    height: 100%;
    overflow-y: auto;
}

.playlist .list-playlist li a {
    padding: 5px 0;
    display: block;
}

/* Account */
/* Download Icon */
.account .download {
    height: 20px;
    width: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #ffffff99;
    border-radius: 50%;
}

.account.flex {
    flex-direction: column;
}

.account .download-icon::after {
    content: "";
    border-bottom: 1px solid #ffffff99;
    width: 100%;
    display: block;
    padding: 10px 0px;
}

/* Account Profile */
.account-profile img {
    height: 30px;
    width: 30px;
    font-size: 10px;
    text-align: center;
    margin-right: 5px;
    background-color: #ffffff99;
    border: 1px solid #ffffff99;
    border-radius: 50%;
    padding: 3px;
    vertical-align: middle;
}

/* Main Content */
.main-content {
    float: left;
    width: calc( 100% - 220px );
    height: 100%;
    overflow-y: auto;
    background: rgb(34,46,68);
    background: linear-gradient(0deg, rgba(34,46,68,1) 0%, rgba(20,25,34,1) 100%);
    padding-top: 83px;
}

.main-content .subtitle {
    font-size: 15px;
}

.main-content img {
    width: 100%;
}

 .box-content h4.block-pad {
    padding: 10px 0;
}

/* Music Menu */
.main-content .music-menu ul li {
    display: inline-block;
    padding: 10px;
}

.main-content .music-menu ul li:first-child:after {
    content: "";
    display: block;
    border-bottom: 2px solid limegreen;
    width: 50%;
    margin: 10px 25%;
}

/* Popular */
.main-content .popular .image-box  {
    border-radius: 50%;
    overflow: hidden;
}

/* FOOTER */
footer {
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}

footer .flex{
    align-items: center;
}

/* Footer Col */
footer .listening, 
footer .play-buttons, 
footer .settings {
    width: calc( 100% / 3 );
}


/* Listening */
footer .listening .song-image img {
    width: 60px;
}

footer .listening .song-title p {
    font-size: 12px;
}

footer .listening .like-and-folder .like {
    padding: 0 10px;
}

/* Play Buttons */
footer .play-buttons .flex {
    justify-content: center;
}

footer .play-buttons button {
    margin: 0 10px;
    vertical-align: middle;
    background: none;
    color: #ffffff99;
    border: 0;
    cursor: pointer;
}

footer .play-buttons .play {
    font-size: 35px;
    padding: 0 15px;
}


footer .play-buttons .button-section {
    padding-bottom: 10px;
}
footer .play-buttons .button-section .flex {
    height: 40px;
}

footer .play-buttons .static-bar {
    height: 8px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

footer .play-buttons .progress-bar {
    height: 100%;
    width: 100px;
    background-color: gray;
    border-radius: 20px;
}

footer .bar {
    align-items: center;
}

footer .bar .current-time,
footer .bar .total-time {
    font-size: 10px;
    padding: 0 10px;
}

/* Settings */
footer .settings .flex {
    justify-content: flex-end;
}

footer .settings .volume-bar {
    height: 5px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

footer .settings .volume-bar .progress-bar {
    height: 100%;
    width: 20%;
    background-color: gray;
    border-radius: 20px;
}

footer .settings .settings-icon button {
    margin: 0 10px;
    vertical-align: middle;
    background: none;
    color: #ffffff99;
    border: 0;
    cursor: pointer;
    font-size: 14px;
}

footer .settings .settings-icon .volume-icon{
    color: #ffff;
}


/* Fixed Button */
.container-fixed-button {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: calc( 100% - 200px );
    height: 70px;
    align-items: center;
    justify-content: flex-end;
}

.fixed-button {
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 2%;
    cursor: pointer;
}

/* Media Query */

@media all and (min-width: 500px) and (max-width: 600px) {
    footer .settings .settings-icon button {
        margin: 0 5px;
    }

    footer .settings .volume-bar {
        width: 50px;
    }

    footer .listening .song-title {
        padding: 0 8px;
    }

    footer .listening .song-title h5 {
        font-size: 12px;
    } 

    footer .listening .song-title p {
        font-size: 10px;
    }

    footer .listening .song-image img {
        width: 40px;
    }

    footer .listening .like-and-folder .like {
        padding: 0;
        display: block;
    }

    footer .play-buttons .play {
        padding: 0;
    }
}

/* Media Queri XS */
@media all and (max-width: 767px) {
     /* Nav */
    nav {
        width: 80px;
    }

    .logo-small {
        display: block;
    }

    .logo, 
    .playlist,
    .link-name,
    .username {
        display:none;
    }

    .account {
        flex-grow: 1; 
    }

    .account.flex {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    /* Main Content */
    .main-content {
        width: calc( 100% - 80px);
    }

    .box {
        width: calc( 100% / 2 );
        padding: 5px 0;
    }

    .recently-played .flex {
        flex-wrap: wrap;
    }

    .recently-played .box-content h4.block-pad {
        padding: 5px 0;
    }

    /* Footer */
    footer .listening .song-image img {
        width: 50px;
    }

    /* Fixed Button */
    .container-fixed-button {
        width: calc( 100% - 80px );
    }
}

/* Media Queri SM */
@media all and (min-width: 768px) and (max-width: 992px) {
    .box {
        width: calc( 100% / 2 );
        padding: 5px 0;
    }

    .recently-played .flex {
        flex-wrap: wrap;
    }

    .recently-played .box-content h4.block-pad {
        padding: 5px 0;
    }
}

/* Media Queri MD */
@media all and (min-width: 992px) and (max-width: 1200px) {
    .box {
        width: calc( 100% / 4 );
    }

    .recently-played .flex {
        flex-wrap: wrap;
    }
}

/* Media Query LG */
@media all and (min-width: 1201px) {

}
